<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.buglang.x/Bugsly"
			class = "x.buglang.bugsly.BugslyPackage"
			genModel = "model/generated/Bugsly.genmodel" />
	</extension>
</plugin>
